<script setup>

</script>

<template>
  <section class="h-[80vh] bg-amber-100 flex">
    <form class="w-[30%] m-auto pt-10 pb-10 bg-[#70bf5d] rounded-xl">
      <div class="mx-[10%]">
        <label for="foodName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Food Name:</label>
        <input v-model="name" type="text" id="foodName" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Food Name" required>
      </div>
      <div class="grid grid-cols-2 mt-6 mx-[10%]">
        <div class="w-[60%] m-auto">
          <label for="calories" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Calories:</label>
          <input v-model="calories" type="text" id="calories" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Calories" required>
        </div>
        <div class="w-[60%] m-auto">
          <label for="protein" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Protein:</label>
          <input v-model="protein" type="text" id="protein" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Protein (g)" required>
        </div>
      </div>
      <div class="grid grid-cols-2 mt-6 mx-[10%]">
        <div class="w-[60%] m-auto">
          <label for="carbs" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Carbohydrates:</label>
          <input v-model="carbs" type="text" id="carbs" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Carbohydrates (g)" required>
        </div>
        <div class="w-[60%] m-auto">
          <label for="fats" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Fats:</label>
          <input v-model="fats" type="text" id="fats" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Fats (g)" required>
        </div>
      </div>
      <div class="w-full flex justify-center">
        <button v-on:click.prevent="chartMeal()" type="submit" class="mt-6 py-3 px-5 text-sm hover:invert font-medium text-center hover:invert ease-in-out duration-300 bg-[#deb887] rounded-md w-fit">Add to Meal and Database</button>
      </div>
    </form>
  </section>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      name: "",
      calories: "",
      protein: "",
      carbs: "",
      fats: ""
    }
  },
  methods: {
    async chartMeal() {
      try {
        let tokenResponse = await axios.get("http://localhost:8080/api/token");
        let token = tokenResponse.data;
        console.log(token);

        let data = {
          name: this.name,
          calories: this.calories,
          protein: this.protein,
          carbs: this.carbs,
          fats: this.fats
        };

        let response = await axios.post("http://localhost:8080/api/food", data, { headers: {
            Authorization: `Bearer ${token}`
          }});
        console.log(response.data);
      } catch (error) {
        console.error(error);
      }
    }
  }
}
</script>

<style scoped>

</style>