<script setup>

</script>

<template>
  <div class="w-full bg-amber-100 py-14">
    <div class="bg-sky-600 w-[80%] h-[60vh] mb-14 rounded-3xl mx-auto">
      <p class="text-center pt-10 text-2xl font-bold">Add to Meal</p>
      <hr class="w-[33%] mx-auto border-black"/>
      <div class="grid grid-cols-2 w-[80%] gap-x-8 h-[80%] mx-auto my-4 rounded-3xl">
        <div class="bg-amber-600 rounded-3xl">
          <p class="text-center text-xl mt-6">Food Database</p>
          <div class="w-[80%] px-6 h-[80%] mt-4 bg-white rounded-3xl m-auto">
            <table class="w-full table">
              <thead class="w-full border-black block mt-4 border-b-2">
                <th>Food Name</th>
                <th><form><input type="text" class="border-black w-[100%] border-2 px-2" placeholder="Search Food Name:"></form></th>
              </thead>
              <tbody>
              <tr v-for="food in foods" :key="food.id" class="text-2xl">
                <td>{{ food.name }}</td>
                <td><button @click="handleClick(food)">Check</button></td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="bg-amber-600 rounded-3xl">
          <p class="text-center text-xl mt-6">Nutrition Facts</p>
          <div class="w-[80%] px-6 h-[80%] mt-4 bg-white rounded-3xl m-auto">
            <div :class="activeFood.length !== 0 ? 'flex flex-col justify-around h-full m-0 text-lg' : 'hidden'">
              <h1 class="text-center pt-4 text-2xl w-full border-black border-b-2">{{ activeFood.name }}</h1>
              <p>
                <span class="float-left">Calories: </span>
                <span class="float-right">{{ activeFood.calories }} kCal</span>
              </p>
              <p>
                <span class="float-left">Protein: </span>
                <span class="float-right">{{ activeFood.protein }} g</span>
              </p>
              <p>
                <span class="float-left">Carbohydrates: </span>
                <span class="float-right">{{ activeFood.carbs }} g</span>
              </p>
              <p>
                <span class="float-left">Fats: </span>
                <span class="float-right">{{ activeFood.fats }} g</span>
              </p>
              <button class="bg-green-400 hover:scale-110 mx-[20%] hover:invert ease-in-out duration-500 rounded-lg">Add to Meal</button>
            </div>
            <div :class="activeFood.length == 0 ? '' : 'hidden'">
              <h1 class="text-center pt-4 text-2xl w-full border-black border-b-2">Check Nutrition Facts</h1>
              <div class="flex m-auto  text-center w-[50%] mt-6 py-4 rounded-3xl bg-green-400">
                Identify an item on the left table to get started
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-sky-600 w-[80%] h-[30vh] rounded-3xl mx-auto">

    </div>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";
import axios from "axios";

export default {
  setup() {
    const foods = ref([]); // Use a reactive reference
    const activeFood = ref([]);

    onMounted(async () => {
      try {
        const token = await axios.get('http://localhost:8080/api/token');
        const response = await axios.get("http://localhost:8080/api", {
          headers: {
            "Authorization": `Bearer ${token.data}`
          }
        });
        foods.value = response.data; // Update the reactive reference
        console.log(foods.value); // Log the updated value of foods
      } catch (error) {
        console.error(error); // Handle any potential errors
      }
    });

    const handleClick = (food) => {
      console.log('CLicked', food);
      activeFood.value = food
    }
    return {
      foods,
      activeFood,
      handleClick
    };
  }
}
</script>

<style scoped>

</style>