<script setup>

</script>

<template>
  <div class="grid grid-cols-2 m-0 p-o bg-[#deb887]">
    <img class="h-[10vh] ml-[20%]" src="../assets/images/templogo.webp"/>
    <div class="flex items-center">
      <p class="m-auto">Copyright © 2023 CalorieCounter. All rights reserved. | Site by Aaron Lee</p>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>

</style>