<script setup>

</script>

<template>
  <div class="flex justify-center home-bg text-white">
    <div class="flex flex-col m-auto w-[50%] text-5xl border-b-2 items-center">
      <p>Welcome to CalorieCounter!</p>
      <p class="mt-4">Let's achieve your goals together!</p>
    </div>
  </div>
  <div class="absolute w-full -translate-y-52 grid grid-cols-3 h-[40vh] pb-10">
    <div class="w-[60%] h-full m-auto bg-[#70bf5d] rounded-xl pt-8 text-center">
      <p class="text-xl border-b-2 border-black m-auto w-[80%]">Visualize your progress</p>
      <div class="h-[60%] bg-amber-300 mt-10">Placeholder Image</div>
      <button class="mt-8 hover:invert hover:scale-105 ease-in-out duration-300 bg-[#deb887] rounded-md w-fit px-4 py-2">Visit your Dashboard</button>
    </div>
    <div class="w-[60%] h-full m-auto bg-[#70bf5d] rounded-xl pt-8 text-center">
      <p class="text-xl border-b-2 border-black m-auto w-[80%]">Seek consultation from our AI service!</p>
      <div class="h-[60%] bg-amber-300 mt-10">Placeholder Image</div>
      <button class="mt-8 hover:invert hover:scale-105 ease-in-out duration-300 bg-[#deb887] rounded-md w-fit px-4 py-2">Chat Now</button>
    </div>
    <div class="w-[60%] h-full m-auto bg-[#70bf5d] rounded-xl pt-8 text-center">
      <p class="text-xl border-b-2 border-black m-auto w-[80%]">Chart a meal</p>
      <div class="h-[60%] bg-amber-300 mt-10">Placeholder Image</div>
      <button class="mt-8 hover:invert hover:scale-105 ease-in-out duration-300 bg-[#deb887] rounded-md w-fit px-4 py-2">Add a Meal</button>
    </div>
  </div>
  <div class="h-[20vh] bg-amber-100"></div>
  <!--  Contact Form -->
  <div class="bg-amber-100 pb-16 pt-14">
    <section class="bg-[#70bf5d] rounded-xl w-[65%] m-auto dark:bg-gray-900">
      <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Contact Us</h2>
        <p class="font-light text-center text-black sm:text-2xl">Have any recommendations on features to add or update?</p>
        <p class="mb-8 lg:mb-16 font-light text-center text-black sm:text-2xl">Feel free to let me know!</p>
        <form action="#" class="space-y-8">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
            <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="example@gmail.com" required>
          </div>
          <div>
            <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
            <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Feature/Component" required>
          </div>
          <div class="sm:col-span-2">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
            <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a description please!"></textarea>
          </div>
          <div class="w-full flex justify-center">
            <button type="submit" class="py-3 px-5 text-sm hover:invert font-medium text-center hover:invert ease-in-out duration-300 bg-[#deb887] rounded-md w-fit">Send message</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "HomeComponent"
}
</script>

<style scoped src="../assets/css/Home.css">

</style>