<script setup>
</script>

<template>
  <section class="bg-amber-100 flex items-center">
    <div class="grid grid-cols-2 h-[80vh] w-[80%] mt-10 mb-10 m-auto login-bg-splash rounded-xl">
      <div></div>
      <form class="flex justify-center m-auto bg-white w-[80%] rounded-md">
        <div>
          <h1 class="text-2xl mt-10 px-6"><b>Welcome Back, Please Sign In!</b></h1>
          <hr class="mb-6"/>
          <div class="grid grid-cols-1">
            <label for="username">Username:</label>
            <input v-model="username" type="username" id="username" class="border text-lg border-2 border-black rounded-md pl-2" placeholder="Username" required>
          </div>
          <div class="grid grid-cols-1 mt-6">
            <label for="password">Password:</label>
            <input v-model="password" type="password" id="password" class="border text-lg border-2 border-black rounded-md pl-2" placeholder="Password" required>
          </div>
          <div class="w-full flex justify-center">
            <router-link to="/" class="hover:invert ease-in-out duration-300 bg-[#deb887] hover:scale-105 mt-6 text-lg w-[50%] rounded-md mb-10">
              <button v-on:click="authenticateUser()" class="flex m-auto"><b>Login</b></button>
            </router-link>
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<script>

import axios from "axios";
export default {
  data() {
    return {
      username: "",
      password: ""
    }
  },
  methods: {
    async authenticateUser() {
      let result = await axios.post("http://localhost:8080/api/authenticate", {
        username: this.username,
        password: this.password
      })
      console.log(result)
    }
  }
}
</script>

<style scoped src="../assets/css/Login.css">
</style>