<script setup>

</script>

<template>
  <div class="grid grid-cols-2 bg-[#deb887]">
    <router-link to="/" class="w-[15%] h-[10vh] ml-[20%] -translate-y-1 my-auto">
      <img class="my-auto" src="../assets/images/templogo.webp"/>
    </router-link>
    <div class="flex text-2xl justify-between">
      <router-link to="/login" class="m-auto border-black hover:border-b-4">
        <p>Login</p>
      </router-link>
      <router-link to="/signup" class="m-auto border-black hover:border-b-4">
        <p>Signup</p>
      </router-link>
      <p class="m-auto border-black hover:border-b-4">Logout</p>
      <router-link to="/chart" class="m-auto border-black hover:border-b-4">
        <p>Chart a Meal</p>
      </router-link>
      <router-link to="/add-to-database" class="m-auto border-black hover:border-b-4">
        <p>Add to Database</p>
      </router-link>
      <router-link to="/login" class="m-auto border-black hover:border-b-4">
        <p>Dashboard</p>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>

</style>