<script setup>

</script>

<template>
  <section class="bg-amber-100 flex items-center">
    <div class="grid grid-cols-2 h-[80vh] w-[80%] mt-10 mb-10 m-auto signup-bg-splash rounded-xl">
      <div></div>
      <form class="flex justify-center m-auto bg-white w-[80%] rounded-md">
        <div>
          <h1 class="text-2xl mt-10 text-center"><b>Sign Up Now!</b></h1>
          <hr class="mb-6"/>
          <div class="grid grid-cols-2 gap-x-4">
            <div class="grid grid-cols-1">
              <label for="firstName">First Name:</label>
              <input v-model="firstName" type="text" id="firstName" class="border text-lg border-2 border-black rounded-md pl-2" placeholder="First Name" required>
            </div>
            <div class="grid grid-cols-1">
              <label for="lastName">Last Name:</label>
              <input v-model="lastName" type="text" id="lastName" class="border text-lg border-2 border-black rounded-md pl-2" placeholder="Last Name" required>
            </div>
          </div>
          <div class="grid grid-cols-1 mt-6">
            <label for="username">Username:</label>
            <input v-model="username" type="text" id="username" class="border text-lg border-2 border-black rounded-md pl-2" placeholder="Username" required>
          </div>
          <div class="grid grid-cols-1 mt-6">
            <label for="password">Password:</label>
            <input v-model="password" type="password" id="password" class="border text-lg border-2 border-black rounded-md pl-2" placeholder="Password" required>
          </div>
          <div class="w-full flex justify-center">
            <router-link to="/" class="hover:invert ease-in-out duration-300 bg-[#deb887] hover:scale-105 mt-6 text-lg w-[50%] rounded-md mb-10">
              <button class="flex m-auto" v-on:click="signupUser()"><b>Login</b></button>
            </router-link>
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      firstName: "",
      lastName: "",
      username: "",
      password: ""
    }
  },
  methods: {
    async signupUser() {
      let response = await axios.post("http://localhost:8080/api/new", {
        firstName: this.firstName,
        lastName: this.lastName,
        username: this.username,
        password: this.password,
        roles: "ADMIN"
      })
      console.log(response.data);
    }
  }
}
</script>

<style scoped src="../assets/css/Signup.css">

</style>