.login-bg-splash {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75)), url("../images/loginbgimage.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
