.signup-bg-splash {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75)), url("../images/signup-background.jpg");
    background-size: cover;
    background-position: center;
}
