<script setup>
import LoginComponent from "./components/LoginComponent.vue";
import HomeComponent from "./components/HomeComponent.vue";
import PageNotFoundComponent from "./components/PageNotFoundComponent.vue";
import NavbarComponent from "./components/NavbarComponent.vue";
import FooterComponent from "./components/FooterComponent.vue";
</script>

<template>
  <NavbarComponent />
  <router-view></router-view>
  <FooterComponent />
</template>

<style scoped>
</style>
